@{
    ViewBag.Title = "Home";
}

    <div class="panel panel-primary">
        <div class="panel-heading">
            Hello
        </div>
        <div class="panel-body">
            World
        </div>
    </div>