<div style="padding-top: 200px; width: 100%;"></div>
<div class="col-md-2 col-md-offset-1">
    <div class="panel panel-farm">
        <div class="panel-heading">
            Pamant
        </div>
        <div class="panel-body">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Tipul pamantului</label>
                <md-select ng-model="ctrl.soil.pamant">
                    <md-option ng-repeat="soilType in ctrl.soilTypes" value="{{soilType}}">
                        {{soilType}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container class="md-block">
                <label>Umiditate</label>
                <input required type="number" step="1" name="umid" ng-model="ctrl.soil.umiditate" min="0"
                       max="100" />
            </md-input-container>
            <md-input-container class="md-block">
                <label>Temperatura</label>
                <input required type="number" step="1" name="temp" ng-model="ctrl.soil.temperatura" min="0"
                       max="40" />
            </md-input-container>
            <label>Costuri neasigurate</label>
            <md-list>
                <md-list-item>
                    <p>Arat</p>
                    <md-checkbox class="md-secondary" ng-model="ctrl.soil.utilaje[0]"></md-checkbox>
                </md-list-item>
                <md-list-item>
                    <p>Discuit</p>
                    <md-checkbox class="md-secondary" ng-model="ctrl.soil.utilaje[1]"></md-checkbox>
                </md-list-item>
                <md-list-item>
                    <p>Erbicidat</p>
                    <md-checkbox class="md-secondary" ng-model="ctrl.soil.utilaje[2]"></md-checkbox>
                </md-list-item>
                <md-list-item>
                    <p>Recoltat</p>
                    <md-checkbox class="md-secondary" ng-model="ctrl.soil.utilaje[3]"></md-checkbox>
                </md-list-item>
            </md-list>
                <div class="btn-lg btn-farm" ng-click="ctrl.sendSoil()">
                    Generate
                </div>
</div>
    </div>
</div>
<div class="col-md-3 col-md-offset-2">
    <div class="panel panel-farm" ng-show="ctrl.test.planteViabil">
        <div class="panel-heading">
            Randament
        </div>
        <div class="panel-body">
            <md-content>
                <md-list flex>
                    <md-list-item class="md-1-line" ng-repeat="item in ctrl.test.planteViabil">
                        <md-tooltip>
                            Umiditate optima: {{item.umiditate}}   -   Temperatura optima: {{item.temperatura}}
                        </md-tooltip>
                        <img ng-src="{{item.img}}" class="col-md-3 pull-left md-avatar" alt="{{item.nume}}" />
                        <div class="md-list-item-text col-md-6">
                            <h3>{{ item.nume }}</h3>
                        </div>
                        <div class="col-md-3 pull-right">
                            <h3>{{ item.procent }}%</h3>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
<div class="col-md-3">
    <div class="panel panel-farm" ng-show="ctrl.test.planteProfit">
        <div class="panel-heading">
            Profit / Ha
            <div class="pull-right" style="margin-right: 30px;">RON</div>
        </div>
        <div class="panel-body">
            <md-content>
                <md-list flex>
                    <md-list-item class="md-1-line" ng-repeat="item in ctrl.test.planteProfit">
                        <md-tooltip>
                            Umiditate optima: {{item.umiditate}}   -   Temperatura optima: {{item.temperatura}}
                        </md-tooltip>
                        <img ng-src="{{item.img}}" class="col-md-2 pull-left md-avatar" alt="{{item.nume}}" />
                        <div class="md-list-item-text col-md-5">
                            <h3>{{ item.nume }}</h3>
                        </div>
                        <div class="col-md-5 pull-right" style="text-align: right;">
                            <h3>{{ item.profit }}</h3>
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
<div class="col-md-6 col-md-offset-2">
    <div class="panel panel-farm" ng-show="ctrl.test.bestOption">
        <div class="panel-heading">
            Recomandare
        </div>
        <div class="panel-body" style="font-size: 2em;">
            {{ ctrl.test.bestOption }}
        </div>
    </div>
</div>