<h1>Let's farm!</h1>
<div class="col-md-6">
    <div class="panel panel-farm">
        <div class="panel-heading">
            Your soil
        </div>
        <div class="panel-body">
            <md-input-container class="md-block" flex-gt-sm>
                <label>Soil type</label>
                <md-select ng-model="ctrl.soil.type">
                    <md-option ng-repeat="soilType in ctrl.soilTypes" value="{{soilType}}">
                        {{soilType}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>
    </div>
</div>
<div class="col-md-6">

</div>